:root{
    --section-team-background-color: #F5F4FA;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
    --border-background-color: #2f303a
}
.body{
    font-weight: 400;
    font-size: 14px;   
    color: #212121;
    font-family: var(--primary-font);
    font-style: normal;
}
li {    list-style-type: none;}
.hero{
  background-color: var(--border-background-color);}
.logo-1{
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
    letter-spacing: 0.03em;}
.studio-1:active{color: var(--accent-color);}
.studio-1:hover{color: var(--accent-color);}
.studio-1:focus{color: var(--accent-color);}
.studio-1{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;}
.portfolio-1:active{color: var(--accent-color);}
.portfolio-1:hover{color: var(--accent-color);}
.portfolio-1:focus{color: var(--accent-color);}
.portfolio-1{
    text-decoration: none;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
color: #212121;}
.contacts-1:active{color: var(--accent-color);}
.contacts-1:hover{color:var(--accent-color);}
.contacts-1:focus{color:var(--accent-color);}
.contacts-1{
    text-decoration: none;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;}
.visually-hidden{
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;}
.efective{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;}
.mail-1:active{color: var(--accent-color);}
.mail-1:hover{color:var(--accent-color);}
.mail-1:focus{color:var(--accent-color);}
.mail-1 {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:#757575}
.number-1:active{color: var(--accent-color);}
.number-1:focus{color:var(--accent-color);}
.number-1:hover{color:var(--accent-color);}
.number-1 {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;}
.mail-2:active{color: var(--accent-color);}
.mail-2:hover{color:var(--accent-color);}
.mail-2:focus{color:var(--accent-color);}
.mail-2{
    line-height: 1.7px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}
.logo-2 {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;}
.button {
    cursor: pointer;
    font-family: inherit;
    color: #FFFFFF;
    border: none;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9}
.textcolor{color: var(--accent-color);}
.textcolor-1{color: #212121;}
.textcolor-2{color: #FFFFFF;}
.header-1{
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;}
.header-2{
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;}
.header-3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;}
.header-4{
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;}
.paragraph-1{
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;}
.paragraph-2{
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;}
.paragraph-3{
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;}
.paragraph-4{
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;}
.igorh {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;}
.igorp {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;    
    letter-spacing: 0.03em;
    color: #757575;}
.olgah{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;}
.olgap{
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #757575;}
.mikolah{

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;    
    letter-spacing: 0.03em;
    color: #212121;}
.mikolap{
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #757575;}
.mihailh{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #212121;}
.mihailp{
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #757575;}
.map-1:focus{color:var(--accent-color);}
.map-1:hover{color:var(--accent-color);}
.map-1{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;}
.number-2:hover{color:var(--accent-color);}
.number-2:focus{color:var(--accent-color);}
.number-2{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}
.button-3:active{background-color: var(--accent-color);}
.button-3:hover{background-color: var(--accent-color);}
.button-3:focus{background-color: var(--accent-color);}
.button-3 {
    cursor: pointer;
    font-family: inherit;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    border-color: #F5F4FA;}
.footer {background-color: #2F303A;}
.team{background-color: var(--section-team-background-color);}